# Connect to redshift

In [ ]:
import psycopg2
import boto3

# Redshift connection parameters
host = '<Your_redshift-cluster_host>'
port = '5439'
dbname = 'dev'
user = 'admin'
password = 'Password123'

# Establish connection to Redshift
try:
    connection = psycopg2.connect(
        host=host,
        port=port,
        dbname=dbname,
        user=user,
        password=password
    )
    
    # Create a cursor object to interact with the database
    cursor = connection.cursor()

    # Example SQL query
    sql_query = "SELECT COUNT(*) FROM public.staff_raw;"

    # Execute the query
    cursor.execute(sql_query)

    # Fetch the result
    result = cursor.fetchall()

    # Print the results
    for row in result:
        print(row)

except Exception as e:
    print(f"Error: {e}")

(1325324,)

In [5]:
sql_query = '''
    SELECT DISTINCT Role FROM public.staff_hours;


'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('rndon',)
('rn',)
('lpn',)
('natrn',)
('rnadmin',)
('lpnadmin',)
('cna',)
('medaide',)

# Analysis

## 1. Analysis by Region

### 1.1 Nurse Staffing ratio by State

In [2]:
sql_query = '''
    SELECT 
        STATE,
        SUM(Hrs_RNDON +
            Hrs_RNadmin +
            Hrs_RN +
            Hrs_LPNadmin +
            Hrs_LPN +
            Hrs_CNA +
            Hrs_NAtrn +
            Hrs_MedAide) / SUM(MDScensus) AS Nurse_Staffing_Ratio
    FROM public.staff_raw
    WHERE MDScensus > 0
    GROUP BY STATE
    ORDER BY Nurse_Staffing_Ratio;

'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('MO', 3.24244682029277)
('IL', 3.25335077395743)
('TX', 3.29513728044523)
('NM', 3.3935734824943)
('WV', 3.45059902152462)
('GA', 3.49111551414975)
('VA', 3.51428807061691)
('NY', 3.59258603543926)
('IN', 3.59604863669311)
('LA', 3.61167990696428)
('NC', 3.62344115256852)
('OH', 3.62784768386199)
('PA', 3.62948860717486)
('RI', 3.632438412123)
('NJ', 3.6355088296775)
('CT', 3.65591613845808)
('SC', 3.65633648041368)
('CO', 3.66615701582845)
('TN', 3.68267344847579)
('OK', 3.70412779289317)
('MA', 3.7241885918198)
('WY', 3.74058578136182)
('NH', 3.74352693604282)
('NV', 3.75693101435567)
('KY', 3.76654574051263)
('MD', 3.76789355974786)
('IA', 3.77195706955568)
('MT', 3.77858736333017)
('SD', 3.79310526086447)
('FL', 3.80468710420148)
('MI', 3.84329569906455)
('AL', 3.85661745115453)
('UT', 3.87309707509974)
('ID', 3.90923994634544)
('KS', 3.96300584063568)
('AZ', 3.98605673695876)
('WI', 3.98714743133763)
('MS', 3.99672239254452)
('VT', 4.06940950218658)
('AR', 4.07101692983774)
('NE', 4.10163566736438)
('DE', 4.13771372899245)
('MN', 4.20119407537167)
('CA', 4.22600468826036)
('DC', 4.23864866177423)
('ME', 4.30266741189444)
('WA', 4.33570504249931)
('HI', 4.44852106736381)
('ND', 4.65199606668064)
('PR', 4.79159789437935)
('OR', 5.01218060478445)
('AK', 6.01247511429311)

## 2. Analysis by Employment Type (Contractor, Employer)

### 2.1 Contractor Nurse Staffing Hour Percentage by State

In [3]:
sql_query = '''
    SELECT
        state,
        SUM(
            Hrs_RNDON_ctr +
            Hrs_RNadmin_ctr +
            Hrs_RN_ctr +
            Hrs_LPNadmin_ctr +
            Hrs_LPN_ctr +
            Hrs_CNA_ctr +
            Hrs_NAtrn_ctr +
            Hrs_MedAide_ctr
        ) /
        SUM(
            Hrs_RNDON +
            Hrs_RNadmin +
            Hrs_RN +
            Hrs_LPNadmin +
            Hrs_LPN +
            Hrs_CNA +
            Hrs_NAtrn +
            Hrs_MedAide
        ) AS Contractor_Perc
    FROM
        public.staff_raw
    GROUP BY state
    ORDER BY Contractor_Perc DESC
'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('VT', 0.29639254832869)
('ME', 0.15944246708474)
('NH', 0.153850152724816)
('PA', 0.143562163647583)
('NJ', 0.140117813368113)
('MT', 0.136774715788514)
('DE', 0.130104295299161)
('ND', 0.124996807221619)
('NY', 0.121977730036821)
('OR', 0.112852583964292)
('NE', 0.102984755194681)
('MD', 0.102800731559888)
('AK', 0.102294628104675)
('NC', 0.0994310233862974)
('WI', 0.0982147322135922)
('SD', 0.0915134889806802)
('CO', 0.0906264222615663)
('HI', 0.089118731865989)
('MA', 0.0867348845262703)
('IL', 0.0835444111984028)
('NM', 0.0751747633592423)
('MN', 0.0739634367931947)
('WA', 0.0704015858702044)
('MS', 0.0696476272088264)
('GA', 0.0672017292699964)
('SC', 0.0623464070781175)
('VA', 0.0616381697340084)
('MO', 0.0609103338712016)
('TN', 0.0596673543738582)
('KY', 0.0595010105083592)
('KS', 0.0594518126213861)
('OH', 0.0589253759432898)
('IA', 0.0586304542946027)
('CT', 0.0557474268530435)
('DC', 0.0551335821757881)
('WV', 0.0550982787577767)
('RI', 0.0546255038621399)
('ID', 0.0541474606630986)
('WY', 0.0505725645300703)
('UT', 0.0454418478703663)
('AZ', 0.0448925176013917)
('LA', 0.0444366708909047)
('IN', 0.0367813768307238)
('TX', 0.0356708017476098)
('CA', 0.0346645376180188)
('MI', 0.0325103715175336)
('OK', 0.0310807102613496)
('NV', 0.0277820237386306)
('FL', 0.0274535684138102)
('AR', 0.0229193529849552)
('PR', 0.0167554288581785)
('AL', 0.0139983406362578)

### 2.2 Contractor Nurse Staffing Hour Percentage by Role

In [4]:
sql_query = '''
    SELECT 
        SUM(Hrs_RNDON_ctr) / NULLIF(SUM(Hrs_RNDON), 0) AS RNDON_ratio,
        SUM(Hrs_RNadmin_ctr) / NULLIF(SUM(Hrs_RNadmin), 0) AS RNadmin_ratio,
        SUM(Hrs_RN_ctr) / NULLIF(SUM(Hrs_RN), 0) AS RN_ratio,
        SUM(Hrs_LPNadmin_ctr) / NULLIF(SUM(Hrs_LPNadmin), 0) AS LPNadmin_ratio,
        SUM(Hrs_LPN_ctr) / NULLIF(SUM(Hrs_LPN), 0) AS LPN_ratio,
        SUM(Hrs_CNA_ctr) / NULLIF(SUM(Hrs_CNA), 0) AS CNA_ratio,
        SUM(Hrs_NAtrn_ctr) / NULLIF(SUM(Hrs_NAtrn), 0) AS NAtrn_ratio,
        SUM(Hrs_MedAide_ctr) / NULLIF(SUM(Hrs_MedAide), 0) AS MedAide_ratio
    FROM 
        public.staff_raw;

'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

(0.0185867162566199, 0.0244683083769214, 0.0807912052549657, 0.0101134880142207, 0.0926887447772934, 0.0700928945543245, 0.0120737770313285, 0.0250658689119716)

In [5]:
sql_query = '''
    SELECT 
        SUM(Hrs_RNDON_ctr) / NULLIF(SUM(Hrs_RNDON), 0) AS RNDON_ratio,
        SUM(Hrs_RNadmin_ctr) / NULLIF(SUM(Hrs_RNadmin), 0) AS RNadmin_ratio,
        SUM(Hrs_RN_ctr) / NULLIF(SUM(Hrs_RN), 0) AS RN_ratio,
        SUM(Hrs_LPNadmin_ctr) / NULLIF(SUM(Hrs_LPNadmin), 0) AS LPNadmin_ratio,
        SUM(Hrs_LPN_ctr) / NULLIF(SUM(Hrs_LPN), 0) AS LPN_ratio,
        SUM(Hrs_CNA_ctr) / NULLIF(SUM(Hrs_CNA), 0) AS CNA_ratio,
        SUM(Hrs_NAtrn_ctr) / NULLIF(SUM(Hrs_NAtrn), 0) AS NAtrn_ratio,
        SUM(Hrs_MedAide_ctr) / NULLIF(SUM(Hrs_MedAide), 0) AS MedAide_ratio
    FROM 
        public.staff_raw;

'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

(0.0185867162566199, 0.0244683083769214, 0.0807912052549657, 0.0101134880142207, 0.0926887447772934, 0.0700928945543245, 0.0120737770313285, 0.0250658689119716)

LPN, RN, CNA

### 2.3 Contractor Nurse Staffing Hour Percentage by Role and State

In [6]:
sql_query = '''
    SELECT 
        state,
        SUM(Hrs_RNDON_ctr) / NULLIF(SUM(Hrs_RNDON), 0) AS RNDON_ratio,
        SUM(Hrs_RNadmin_ctr) / NULLIF(SUM(Hrs_RNadmin), 0) AS RNadmin_ratio,
        SUM(Hrs_RN_ctr) / NULLIF(SUM(Hrs_RN), 0) AS RN_ratio,
        SUM(Hrs_LPNadmin_ctr) / NULLIF(SUM(Hrs_LPNadmin), 0) AS LPNadmin_ratio,
        SUM(Hrs_LPN_ctr) / NULLIF(SUM(Hrs_LPN), 0) AS LPN_ratio,
        SUM(Hrs_CNA_ctr) / NULLIF(SUM(Hrs_CNA), 0) AS CNA_ratio,
        SUM(Hrs_NAtrn_ctr) / NULLIF(SUM(Hrs_NAtrn), 0) AS NAtrn_ratio,
        SUM(Hrs_MedAide_ctr) / NULLIF(SUM(Hrs_MedAide), 0) AS MedAide_ratio
    FROM 
        public.staff_raw
    GROUP BY
        state
'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('NC', 0.0194486068903132, 0.0176957513888144, 0.0929051180093136, 0.00671597850468934, 0.148347058343544, 0.098015855447832, 0.0115884021605778, 0.0446454305900264)
('NY', 0.00403348366896686, 0.0470469929508993, 0.166227465631268, 0.0306511157267844, 0.180791188178905, 0.0981707907404322, 0.120650470123154, 0.140537468063662)
('OH', 0.0112475321266082, 0.0532947783996562, 0.0595336224507991, 0.0172117170348343, 0.0694981563109913, 0.0602368627744775, 2.5491643235598e-05, 0.0113845595018984)
('IA', 0.0123941964545702, 0.0247030673484297, 0.0797967910150252, 0.00484657103920086, 0.0686899556705365, 0.0638938301558257, 0.000510061150258672, 0.0101194348832937)
('KS', 0.0589394175328628, 0.00612209702407777, 0.077280452384632, 0.00587268002936452, 0.0613699711858307, 0.0673391811988666, 0.0, 0.0355179246845979)
('CA', 0.0143247395332502, 0.0247901016530014, 0.023919428936436, 0.00513395506920986, 0.0276455499404159, 0.0417012577475912, 0.000115105558660664, 0.0275506380727778)
('KY', 0.00548100801105549, 0.00700372182124852, 0.0679768542150144, 0.00176869829941463, 0.107320080950404, 0.0562964739081936, 0.000883693843784207, 0.0119877989113627)
('MO', 0.023402612554218, 0.0141327093829713, 0.051560990497399, 0.00746650450719937, 0.0902091681799462, 0.0750025717606486, 0.000522517094765402, 0.0262179852667926)
('VA', 0.0237719260006132, 0.0219756682572918, 0.0893821782832779, 0.00241662743867735, 0.0908633686167204, 0.0525826918670906, 0.0, 0.00250956142904466)
('FL', 0.0103577636471649, 0.0314401388426782, 0.0259695803559202, 0.00756852851654126, 0.0473356610062342, 0.0224206695352504, 0.0, 0.0973597201590876)
('LA', 0.0701804504042853, 0.0423157228394917, 0.018062157863103, 0.0176922582580423, 0.0580701707777805, 0.0419365558718347, 0.000214229957113841, 0.0)
('NM', 0.0319394274495056, 0.0159700297631634, 0.138659342627626, 0.0239979857587481, 0.155763962365687, 0.052456401141221, 0.0, 0.0)
('ND', 0.0244926861444147, 0.00095034326843996, 0.0863414679646907, 0.0, 0.171427535390289, 0.146396633833136, 0.0, 0.0202405801979995)
('MA', 0.0195891161099478, 0.0225386009913245, 0.169621943312171, 0.00313103495014283, 0.136011451452345, 0.0635778854904927, 0.0142844190618531, 0.00517409091222672)
('WY', 0.0, 0.00503072236900019, 0.0200975157543407, 0.0, 0.126449363128224, 0.0558758677462653, 0.0, 0.0)
('SC', 0.0152645215342674, 0.00709184930369599, 0.074705732140027, 0.00816192117686635, 0.0913725624092095, 0.0545205399038458, 0.000853755410210914, 0.0206085008232399)
('MI', 0.0100694194346574, 0.0163190345028152, 0.0237909756561082, 0.00583782293472813, 0.052201329363522, 0.0300317808542394, 0.000130484099376017, 0.00907922224007713)
('WI', 0.0278531445336451, 0.0112862591708373, 0.097726804320293, 0.0194785761495364, 0.173225887928375, 0.0951595606316863, 0.000840816070853888, 0.00573581543913625)
('MS', 0.012382988171844, 0.0191811084334556, 0.0519165894753951, 0.0579953533385047, 0.0755430516286423, 0.0775298704159037, 0.00612463399652452, 0.0)
('WV', 0.0128328526696407, 0.00753943883822094, 0.030901538580858, 0.0, 0.0948924268876042, 0.0505958212587473, 0.0, 0.0)
('MT', 0.120697005965451, 0.0, 0.0987461930110392, 0.165448620022406, 0.187751393415134, 0.150097573009555, 0.0158774487751127, 0.0234801882053885)
('WA', 0.058656246650917, 0.00489082959902914, 0.0694974749299953, 0.00430167164996028, 0.0978993759175827, 0.0742610989724778, 0.00692264288623406, 0.000172829597275929)
('NE', 0.0240321385978214, 0.00888412945888875, 0.100695666494505, 0.00733176356345756, 0.169085859239497, 0.106689929461423, 0.0, 0.0749370233413293)
('CO', 0.0205754432073674, 0.0186401028747858, 0.066595035982723, 0.0150818998650697, 0.131960762516807, 0.0951349395712916, 0.00358703018132484, 0.0921231325633781)
('OR', 0.0413845433349327, 0.016094291391381, 0.167878165052203, 0.00545722679897773, 0.170039752874032, 0.113223506916321, 0.00307085789679071, 0.0423710230221592)
('HI', 0.0533830125664251, 0.0141573567100912, 0.0849080560413818, 0.017597419372583, 0.256364312221173, 0.0785179866097969, 0.0475397530108601, 0.0)
('DE', 0.0369857951671014, 0.0153737647584764, 0.176959937416623, 0.00211463396032808, 0.200522951313344, 0.108332568020678, 0.0, None)
('SD', 0.0358030554407693, 0.0127116427603295, 0.0686016932450753, 0.0, 0.134553995930614, 0.112782265583908, 0.0, 0.0157338859831221)
('NV', 0.00892606844341919, 0.00301352536232482, 0.0365185550801516, 0.00050880012211203, 0.0364027280761074, 0.0258293757609228, 0.00190025147666632, 0.0)
('ID', 0.0, 0.0429437117406708, 0.0647809024053399, 0.00230467602686716, 0.0933396343321771, 0.0527447209895251, 0.000262033144281272, 0.0)
('ME', 0.0546719876952123, 0.0126248082808743, 0.13113209002533, 0.0, 0.333087185272869, 0.169395005774902, 0.0, 0.0192880792961662)
('AL', 0.0182610345637093, 0.00713945937165424, 0.0132083149619716, 0.0, 0.0322102347820692, 0.0108657302097225, 0.0, 0.0)
('TX', 0.014148784988303, 0.0230809365430226, 0.0234914017257467, 0.00923678112952968, 0.0421777562128229, 0.0425354777492885, 0.00593858921687655, 0.0183624535073583)
('PR', 0.0, 0.0, 0.0200705878567239, 0.0, 0.0180580404207837, None, None, None)
('RI', 0.0072616636041499, 0.00280741415065597, 0.0744120474118166, 0.0, 0.0842676283165171, 0.0519156387352121, 0.00987761635253843, 0.0102488011924778)
('OK', 0.0270482782009866, 0.0271243569752388, 0.031163791294441, 0.0122661644129351, 0.0369445309608269, 0.0358571614060275, 0.0, 0.0175197378787022)
('PA', 0.0149845802534499, 0.0162471744073098, 0.126410201473663, 0.046623797018234, 0.188428716676411, 0.14532142034353, 0.000377704971864688, 0.0595447646536309)
('NJ', 0.0296455844100821, 0.0230963701715685, 0.0970546770274286, 0.015891129233369, 0.149543755615654, 0.162858561301618, 0.0729279833612282, 0.591269293078981)
('GA', 0.0110420520934762, 0.0126249631022716, 0.048754247267953, 0.00475995278471612, 0.0785254032007124, 0.0777501935154726, 0.000604177585161759, 0.00572507129413441)
('TN', 0.0198354580792603, 0.0191645903482452, 0.0477403827560073, 0.00728281334090087, 0.0833607936172232, 0.0585106946208102, 8.28515895341873e-05, 0.0)
('IL', 0.0035205745283483, 0.0230396419664417, 0.122498682003285, 0.00939511392468612, 0.093976941194977, 0.0779727508735486, 0.0, 0.862234359528109)
('CT', 0.0184214737995127, 0.027379847654534, 0.0617541165285418, 0.0128944395026808, 0.0717262860380028, 0.0528604623316945, 0.00035821511438525, 0.139185803233527)
('IN', 0.0138253713505891, 0.0199976345878546, 0.0556279917510345, 0.00130454892007957, 0.0622010451898618, 0.0301733421804419, 0.000317266680519155, 0.031646929308246)
('MD', 0.0131613394336883, 0.00471029950558791, 0.124579287090436, 0.000998887276018164, 0.10768564976605, 0.116227692471181, 0.000104707816886061, 0.00721607132770711)
('UT', 0.00312737227647024, 0.0288660583371072, 0.0634170435853072, 0.0, 0.034270383537089, 0.0511151427371849, 0.000290582505710532, 0.0)
('MN', 0.0428558884349455, 0.0249791534563679, 0.0953063489063963, 0.00870821003651363, 0.0902214621716664, 0.0780626972213301, 8.68735798335984e-05, 0.0161690046103443)
('AZ', 0.0135886627648642, 0.000210719435424312, 0.0652219559079092, 0.000136338382776827, 0.048474057434874, 0.0453279586830287, 0.0, 0.0)
('NH', 0.00631278580392135, 0.0190797611686675, 0.0780467243256063, 0.0142777628942124, 0.218452023399674, 0.178193951672497, 0.0, 0.0134335131429647)
('DC', 0.0, 0.00811411170575998, 0.0718150035442995, 0.00240505730558577, 0.0527910979497543, 0.0574019673199456, None, 0.0)
('AK', 0.0, 0.00546910321291584, 0.1283155058555, 0.0, 0.143002551824985, 0.101501373139696, 0.0, 0.0)
('AR', 0.0, 0.135569446798779, 0.0279747002294255, 0.000347063446209958, 0.040982160440239, 0.0150448267487885, 0.0, 0.000164055518027856)
('VT', 0.0764416645446818, 0.031485558500146, 0.110766321223874, 0.0129142306898686, 0.410364726303073, 0.337749042399404, 0.0, 0.0)

## 3. Analysis by Time

### 3.1 The month with the highest MDScensus

In [7]:
sql_query = '''
    SELECT 
        EXTRACT(MONTH FROM WorkDate) AS Month,
        SUM(MDScensus) AS Total_Census
    FROM 
        public.staff_raw
    GROUP BY
        Month
    ORDER BY
        Total_Census DESC
'''
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

(5, 37648478)
(6, 36495133)
(4, 36410544)

### 3.2 The weekday with the highest MDScensus

In [8]:
sql_query = '''
    SELECT 
        TO_CHAR(WorkDate, 'Day') AS Weekday,
        SUM(MDScensus) AS Total_Census
    FROM 
        public.staff_raw
    GROUP BY
        Weekday
    ORDER BY
        Total_Census DESC
'''

cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('Friday   ', 15844447)
('Thursday ', 15832921)
('Wednesday', 15810270)
('Saturday ', 15796466)
('Tuesday  ', 15775398)
('Sunday   ', 15749187)
('Monday   ', 15745466)

### 3.3 Top Month of Nursing Staffing Shortage

In [9]:
sql_query = '''
    SELECT 
        EXTRACT(MONTH FROM WorkDate) AS Month,
        SUM(Hrs_RNDON +
            Hrs_RNadmin +
            Hrs_RN +
            Hrs_LPNadmin +
            Hrs_LPN +
            Hrs_CNA +
            Hrs_NAtrn +
            Hrs_MedAide) / SUM(MDScensus) AS Nurse_Staffing_Ratio
    FROM public.staff_raw
    WHERE MDScensus > 0
    GROUP BY Month
    ORDER BY Nurse_Staffing_Ratio;

'''
connection.rollback()
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

(6, 3.70038572814622)
(4, 3.71456179314433)
(5, 3.72708149875275)

### 3.4 Top Weekday of Nursing Staffing Shortage

In [10]:
sql_query = '''
    SELECT 
        TO_CHAR(WorkDate, 'Day') AS Weekday,
        SUM(Hrs_RNDON +
            Hrs_RNadmin +
            Hrs_RN +
            Hrs_LPNadmin +
            Hrs_LPN +
            Hrs_CNA +
            Hrs_NAtrn +
            Hrs_MedAide) / SUM(MDScensus) AS Nurse_Staffing_Ratio
    FROM public.staff_raw
    WHERE MDScensus > 0
    GROUP BY Weekday
    ORDER BY Nurse_Staffing_Ratio;

'''
connection.rollback()
cursor.execute(sql_query)
result = cursor.fetchall()
for row in result:
    print(row)

('Sunday   ', 3.21595781229853)
('Saturday ', 3.28397082993123)
('Monday   ', 3.81773860868901)
('Friday   ', 3.82326390880037)
('Thursday ', 3.93832520227948)
('Tuesday  ', 3.94733127810786)
('Wednesday', 3.97051325562438)

# Close

In [11]:
if cursor:
    cursor.close()
if connection:
    connection.close()